

//Page colors
.jet-black{
    color: $clr-jetblack;
}
.jet-black-input {
    color: $clr-jetblack;
    border: none;
    background: none;
    border-bottom: 1px solid $clr-jetblack;
}
.timer-input-jet-black{
    border: none;
    background: none;
    font-size: $fs-large-title;
    max-width: 13.25rem;
    color: $clr-jetblack;
    text-align: center;
    opacity: 0.4;
}
.tasklist-input-jetblack{
    border: none;
    background: none;
    font-size: $fs-very-small-text;
    min-width: 90vw;
    min-height: fit-content;
    color: $clr-jetblack;
    text-align: center;
}


.space-gray {
    color: $clr-spacegray;
    }
.space-gray-input {
    color: $clr-spacegray;
    border: none;
    background: none;
    border-bottom: 1px solid $clr-spacegray;
}
.timer-input-space-gray{
    border: none;
    background: none;
    font-size: $fs-large-title;
    max-width: 13.25rem;
    color: $clr-spacegray;
    text-align: center;
    opacity: 0.4;
}
.tasklist-input-spacegray{
    border: none;
    background: none;
    font-size: $fs-very-small-text;
    min-width: 90vw;
    min-height: fit-content;
    color: $clr-spacegray;
    text-align: center;
}



.white {
    color: $clr-white;
}
.white-input {
    color: $clr-white;
    border: none;
    background: none;
    border-bottom: 1px solid $clr-white;
}
.timer-input-white{
    border: none;
    background: none;
    font-size: $fs-large-title;
    max-width: 13.25rem;
    color: $clr-white;
    text-align: center;
    opacity: 0.4;
}
.tasklist-input-white{
    border: none;
    background: none;
    font-size: $fs-very-small-text;
    min-width: 90vw;
    min-height: fit-content;
    color: $clr-white;
    text-align: center;
}