

//Page colors
#jet-black {
    color: $clr-jetblack;
}
.jet-black{
    color: $clr-jetblack;
}
#jet-black-body {
    background-color: $clr-white;
}
.jet-black-input {
    color: $clr-jetblack;
    border: none;
    background: none;
    border-bottom: 1px solid $clr-jetblack;
}
.timer-input-jet-black{
    border: none;
    background: none;
    font-size: $fs-large-title;
    max-width: 13.25rem;
    color: $clr-jetblack;
    text-align: center;
}

#space-gray {
    color: $clr-spacegray;
}
.space-gray {
    color: $clr-spacegray;
    }
#space-gray-body {
    background-color: $clr-light-gray;
}
.space-gray-input {
    color: $clr-spacegray;
    border: none;
    background: none;
    border-bottom: 1px solid $clr-spacegray;
}
.timer-input-space-gray{
    border: none;
    background: none;
    font-size: $fs-large-title;
    max-width: 13.25rem;
    color: $clr-spacegray;
    text-align: center;
}

#white {
    color: $clr-white;
}
.white {
    color: $clr-white;
}
#white-body {
    background-color: $clr-black;
}
.white-input {
    color: $clr-white;
    border: none;
    background: none;
    border-bottom: 1px solid $clr-white;
}
.timer-input-white{
    border: none;
    background: none;
    font-size: $fs-large-title;
    max-width: 13.25rem;
    color: $clr-white;
    text-align: center;
}
