@import "variable";
@import "mixins";
@import "input-settings-customization";

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-repeat: none;
  background-size: cover;
}

.container {
  width: 90vw;
  margin-inline: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

h1 {
  font-size: $fs-large-title;
  font-family: "Mochiy Pop One", sans-serif;
}

h2 {
  font-size: $fs-title;
  font-family: 'Tilt Warp', cursive;
}

h3 {
  font-size: $fs-large-text;
  font-family: 'Tilt Warp', cursive;
}

.color {
  color: unset;
}
//Navbar

.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  &__items {
    opacity: 0.7;
    @include disable-drag;

    &:hover {
      opacity: 1;
    }
  }

  &__right {
    & ul {
      font-size: $fs-very-small-text;
      list-style: none;
      display: flex;
      flex-direction: row;
      gap: 2rem;

      @at-root .list-item:hover {
        font-weight: $fw-bold;
        cursor: pointer;
      }
    }
  }
}

.open-nav-bar-container {
  display: flex;
  justify-content: center;
}

.open-nav-bar-button {
  display: none;
  justify-self: center;
  padding: 1rem;
  max-width: 5rem;

  & img {
    opacity: 0.1;
  }
  & img:hover {
    opacity: 1;
    zoom: 110%;
  }
}

//timer-section
.header-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 2rem;

  & img {
    max-width: 150px;
    max-width: 150px;
    opacity: 0.1;
    @include disable-drag;

    &:hover {
      opacity: 1;
    }
  }

  &__middle {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}

//Tasklist-section
.tasklist-title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.tasklist-title {
  margin-top: 1rem;
}
.tasklist-item {
  text-decoration: none;
}
.tasklist-input-container {
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: flex;
  gap: 1rem;
}
.tasklist-input {
  border: none;
  background: none;
  font-size: $fs-very-small-text;
  min-width: 20rem;
  max-width: 500px;
  min-height: fit-content;
  text-align: end;
}
.createtask-button {
  text-align: center;
  font-weight: $fw-bold;
  background: none;
  border: none;
  margin-right: 225px;
  opacity: 0.2;
  &:hover {
    opacity: 1;
  }
}
.tasklist-container {
  display: flex;
  flex-direction: column;
  height: inherit;
  width: 100%;
}
.tasklist.ul {
  display: flex;
  justify-content: center;
}
.tasklist-li {
  list-style-type: none;
  padding: 0.2rem;
  min-width: 10%;
  max-width: 100%;
  font-weight: $fw-normal;
  font-family: 'Tilt Warp', cursive;
  text-align: center;
    & p {
      font-size: small;
      letter-spacing: 2px;
    }
}
.timer-input {
  border: none;
  background: none;
  font-size: $fs-large-title;
  max-width: 13.25rem;
  text-align: center;
  opacity: 0.2;
}

input {
  background: none;
}

.credits-text{
  margin-top: auto;
  display: flex;
  justify-content: center;
  padding: 1rem;
  &__pre{
    opacity: 1;
    font-size: $fs-credits-text ;
  }
}




@media only screen and (max-width: 950px) {
  body {
    display: none;
  }
}
