@import "variable";
@import "mixins";
@import "input-settings-customization";

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-repeat: none;
  background-size: cover;
}

.container {
  width: 90vw;
  margin-inline: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

h1 {
  font-size: $fs-large-title;
  font-family: "Mochiy Pop One", sans-serif;
}

h2 {
  font-size: $fs-title;
  font-family: "Tilt Warp", cursive;
}

h3 {
  font-size: $fs-large-text;
  font-family: "Tilt Warp", cursive;
}

h4 {
  font-size: $fs-very-small-text;
  font-weight: $fw-bold;
}
.color {
  color: unset;
}
//Navbar

.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  &__items {
    opacity: 0.7;
    @include disable-drag;

    &:hover {
      opacity: 1;
    }
  }

  &__right {
    & ul {
      font-size: $fs-very-small-text;
      list-style: none;
      display: flex;
      flex-direction: row;
      gap: 2rem;

      @at-root .list-item:hover {
        font-weight: $fw-bold;
        cursor: pointer;
      }
    }
  }
}

.open-nav-bar-container {
  display: flex;
  justify-content: center;
}

.open-nav-bar-button {
  display: none;
  max-width: 50px;
  max-height: 50px;
  justify-self: center;
  padding: 1rem;
  max-width: 5rem;

  & img:hover {
    zoom: 110%;
  }
}

//timer-section
.header-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 2rem;

  & img {
    max-width: 150px;
    max-width: 150px;
    opacity: 0.1;
    @include disable-drag;

    &:hover {
      opacity: 1;
    }
  }

  &__middle {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}

//Tasklist-section
.tasklist-title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.tasklist-title {
  margin-top: 1rem;
}
.tasklist-item {
  text-decoration: none;
}
.tasklist-input-container {
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: flex;
  gap: 1rem;
}
.tasklist-input {
  border: none;
  background: none;
  font-size: $fs-very-small-text;
  min-width: 20rem;
  max-width: 500px;
  min-height: fit-content;
  text-align: end;
}
.createtask-button {
  text-align: center;
  font-weight: $fw-bold;
  background: none;
  border: none;
  margin-right: 225px;
  opacity: 0.2;
  &:hover {
    opacity: 1;
  }
}
.tasklist-container {
  display: flex;
  flex-direction: column;
  height: inherit;
  width: 100%;
}
.tasklist.ul {
  display: flex;
  justify-content: center;
}
.tasklist-li {
  list-style-type: none;
  padding: 0.2rem;
  min-width: 10%;
  max-width: 100%;
  font-weight: $fw-normal;
  font-family: "Tilt Warp", cursive;
  text-align: center;
  &:hover {
    cursor: pointer;
  }
  & p {
    font-size: small;
    letter-spacing: 2px;
    @include disable-drag;
  }
}
.time-number {
  border: none;
  background: none;
  font-size: $fs-large-title;
  font-weight: $fw-bold;
  max-width: 14rem;
  text-align: center;
  
  .timer-gap {
    @include disable-drag;
  }
  
  opacity: 0.2;
  
  @include disable-drag;
}

.timer-settings-list{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 10vh;
  
  &__ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 1rem;
  }
  &__li:hover{
    cursor: pointer;
    scale: 125%;
    font-weight: $fw-bold;
  }
}
input {
  background: none;
}

.credits-text {
  margin-top: auto;
  display: flex;
  justify-content: center;
  padding: 1rem;
  & pre {
    opacity: 1;
    font-size: $fs-credits-text;
  }
}


.extra-button{
  background: none;
  border: none;
  font-size: $fs-credits-text;
  &:hover{
    text-decoration: underline;
  }
  padding: 0.5rem;
}
.extra-buttons-container{
  display: flex;
  width: 95vw;
  margin-inline: auto;
  justify-content: flex-end;
  gap: 0.5rem;

}

//Settings container things
.settings-background{
  min-height: 60vh;
  max-height: 100vh;
  min-width: 60vw;
  max-width: 90vw;
  background-color: $clr-black;
  border: 1px solid $clr-white;
  border-radius: 2%;
  opacity: 0.90;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -30vh; 
  margin-left: -30vw; 
  display: none;
}

.settings-container{
  max-height: 95%;
  max-width: 95%;
  margin-inline: auto;
  opacity: 1;
  display: flex;
  flex-direction: column;
  &__title{
    align-self: center;
    color:  $clr-white;
    margin-bottom:1rem;
  }
  &__subtitle{
    color: $clr-white ;
  }
  &__pre{
    color: $clr-white;
    display: flex;
    align-items: center;
    width: 20%;
  }
  &__value{
    color: $clr-accent;
    display: flex;
    align-items: center;
    font-weight: $fw-bold;
  }
  & p{
    color: $clr-white
  }
}
.settings-contianer-segment{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.settings-container-segment__row{
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.setting-segment-container{
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.slider {
  -webkit-appearance: none; 
  appearance: none;
  border: 1px solid $clr-white;
  background-color: white;
  border-radius: 1rem;
  width: 80%; 
  height: 25px; 
  opacity: 0.7;
  -webkit-transition: .2s; 
  transition: opacity .2s;
  outline: none;
  transition: background 450ms ease-in;
  &:hover{
    opacity: 1;
  }
  &::-webkit-slider-runnable-track {
    height: 100%;
    -webkit-appearance: none;
    color: $clr-black;
  }
  &::-webkit-slider-thumb {
    width: 25px;
    -webkit-appearance: none;
    height: 100%;
    cursor: ew-resize;
    background: $clr-black;
    border-radius: 100%;
  }
  
}

.timer-position-settings__centre{
  font-weight: $fw-normal;
}
.timer-position-settings__top{
  font-weight: $fw-bold;
}

@media only screen and (max-width: 950px) {
  body {
    display: none;
  }
}
